<section class="admin-add">
  <div class="breadcrumb">
    <%= link_to "Dashboard", admin_path %>
    <%= link_to "All Members", admin_members_path %>
  </div>
  <%= render 'form', member: @member %>
</section>
