<% content_for(:title, "Publications") %>
<section class="publications">
  <header>
  <h1>Output</h1>
  </header>
  <div class="theme">
    <% @publications.group_by { |p| p.category.name }.each do |category, publications| %>
      <h2><%= category %></h2>
      <% publications.each do |publication| %>
        <%= link_to publication.title, publication_path(publication) %>
      <% end %>
    <% end %>
</section>
