<section class="admin-add">
  <div class="breadcrumb">
    <%= link_to "Dashboard", admin_path %>
    <%= link_to "All News", admin_news_articles_path %>
  </div>
  <%= render 'form', news_article: @news_article %>
</section>
