<% content_for(:title, "Research") %>
<% content_for(:description, "For more information about our research, please contact our research group coordinator Sarah Van Leuven") %>
<article class="researchthemes">
  <header>
    <h1>Research</h1>
  </header>
  <p>For more information about our research, please contact our research group coordinator <%= link_to "Peter Muntigl", "/member/peter-muntigl" %></p>
</article>
  <% @themes.in_groups_of(2, false) do |themes| %>
    <div class="bullets">
      <% themes.each do |theme| %>
          <div class="bullet">
            <div class="bullet-content">
              <h2><%= link_to theme.title, theme_path(theme) %></h2>
              <p><%= simple_format(theme.description) %></p>
              <% if theme.members.any? %>
                <h3>Researchers</h3>
                <ul>
                  <% theme.members.each do |member| %>
                    <li><%= link_to member.name, member_path(member) %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  <% end %>
  <script>
  $(document).ready(function () {
        $('.bullet').matchHeight();
          });
  </script>
