<section class="about">
  <article>
    <header>
    <h1>Disclaimer</h1>
    </header>
    <h2>Copyright clause</h2>
    <p>All texts and illustrations on this website as well as the lay out and the functionality of this website are protected by copyright. The texts and illustrations can be printed for private use; distribution is permitted only after authorisation of Ghent University. Quotations are allowed provided that you always refer to the valid source. Reproductions are permitted provided that you always refer to the valid source, unless for commercial aims, in which case reproduction, even with source indication, it is not allowed.</p>
    <p>
  </article>
</section>
