<% content_for(:title, "Mission") %>
<% content_for(:description, "Health, Media & Society looks at how the news media cover elderly-related health issues") %>
<article class="mission">
  <header>
    <h1>Mission</h1>
  </header>
  <div class="content">
  <p>Drawing on a transdisciplinary partnership between communication sciences, sociolinguistics, medical science and sociology, Health, Media &amp; Society looks at how the news media cover elderly-related health issues. Applying a holistic or start-to-end approach, we investigate the different interconnected stakeholders that are involved in the ‘chain’ of health news discourses: the pharmaceutical industry; policy-making bodies; health insurance companies; special-interest groups (health consumer organizations; patient support and advocacy organizations; academic research and expert groups; and associations of health professionals); the news media (traditional and online); and the general public.</p>
  <p>Our main research question is which role these various stakeholders take up in the construction of discourses on health issues in, by and through the news media? In addition to investigating these key discourses, we address the political economic structure of the medical-industrial complex related to health care provision to inform the project’s study of health communication and health news issues. The main objective of this transdisciplinary project is thus to chart the complex networks involved in the communication on health issues and relate it to broader medical as well as sociological concerns. At the heart of the research action is the question whether the idea of healthism and the related emergence of an ‘expert patient’ has contributed to his/her empowerment or rather made him/her an easy target for manipulation through misinformation by stakeholders with often conflicting interests.</p>
</div>
<aside>
  <%= image_tag "logo-hse-250x250.gif" %>
  <%= image_tag "mission.jpg" %>
</aside>
</article>
