<% content_for(:title, "Nederlands") %>
<% content_for(:title, "Op basis van een transdisciplinaire samenwerking tussen communicatiewetenschappen, sociolinguïstiek, geneeskunde en sociologie, stelt dit project de vraag hoe nieuwsmedia gezondheidskwesties construeren") %>
<article class="dutch" lang="nl">
    <header>
      <h1>De onderzoeksgroep Health, Media & Society</h1>
    </header>
    <div class="content">
    <p>De onderzoeksgroep Health, Media &amp; Society werd in 2014 opgericht aan de Universiteit Gent naar aanleiding van het project "(De)constructing Health News". Op basis van een transdisciplinaire samenwerking tussen communicatiewetenschappen, sociolinguïstiek, geneeskunde en sociologie, stelt dit vierjarig project de vraag centraal hoe nieuwsmedia gezondheidskwesties construeren.</p>
    <p>Vertrekkende vanuit een holistisch perspectief op deze maatschappelijk relevante problematiek analyseren we de rol van verschillende met elkaar verweven stakeholders: de farmaceutische industrie; beleidsinstanties; ziekenfondsen; diverse belangengroepen (patiëntenverenigingen; consumentenorganisaties; kennis- en expertcentra; en beroepsorganisaties in de gezondheidszorg); de nieuwsmedia (traditioneel en digitaal); en het publiek. De klemtoon van het onderzoek ligt op het discours, maar daarnaast willen we eveneens de politiek-economische structuur van het medisch-industrieel complex in kaart brengen. Finaal zal een beeld geschetst worden van het complexe netwerk van actoren met betrekking tot de nieuwsberichtgeving en de communicatie over gezondheidskwesties, inclusief reflecties op de medische en sociologische aspecten. Methodologisch stoelt het onderzoek op een triangulatie van verschillende kwalitatieve en kwantitatieve onderzoekstechnieken. We onderscheiden <strong>vier convergerende onderzoekslijnen</strong>, die sterk met elkaar verweven zijn.</p>
    <p>Voor meer informatie kunt u de coördinator van de onderzoeksgroep contacteren: <%= link_to "Peter Muntigl", "/member/peter-muntigl" %></p>
  </div>
  <aside>
    <%= image_tag 'logo-hse-250x250.png' %>
  </aside>
</article>
  <div class="bullets">
  <div class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Stakeholderanalyse</h2>
      <p>De eerste onderzoekslijn biedt in de eerste plaats de noodzakelijke contextualisering aan door het in kaart brengen van de verschillende organisaties of actoren die actief zijn binnen het brede veld van gezondheidskwesties in Vlaanderen. De klemtoon ligt hierbij op de politiek-economische en institutionele relaties tussen de verschillende stakeholders. In de tweede plaats richt het onderzoek zich op het discours over gezondheidsthema’s zoals dit door de verschillende belangengroepen gearticuleerd wordt. De onderliggende doelstelling is om de vinger te leggen op veranderingen in de praktijk van public relations en informatievoorziening door de betrokken stakeholders rond gezondheid, met aandacht voor de politiek-economische structuren. Om dit te verwezenlijken hanteren de onderzoekers een combinatie van politiek-economische analyse, de stakeholder mappingtechniek en semigestructureerde elite-interviews met vertegenwoordigers van de stakeholders.</p>
      <h3>Onderzoekers</h3>
      <ul>
        <li><a href="member/piet-bracke">Piet Bracke</a></li>
        <li><a href="/member/thierry-christiaens">Thierry Christiaens</a></li>
        <li><a href="/member/sarah-van-leuven">Sarah Van den Bogaert</a></li>
      </ul>
    </div>
    <p class="publink"><%= link_to "See publications", publications_path, class: "more" %></p>
  </div>  
  <div class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt=""/>
    </div>
    <div class="bullet-content">
      <h2>Analyse van de levenscyclus van nieuwsverhalen</h2>
      <p>Een tweede onderzoekslijn focust op de (productie)levenscyclus van nieuwsverhalen over gezondheidskwesties. Via een case-georiënteerde, ‘multi-sited’ linguïstisch etnografische benadering wordt het complexe raderwerk van discursieve praktijken en professionele routines ontleed dat uiteindelijk vorm geeft aan de berichtgeving over gezondheid. Veldonderzoek in onder meer de communicatieafdeling van een farmaceutisch bedrijf, de redactie van een belangrijke krant en bij een nieuwswebsite maakt het mogelijk om uitspraken te doen over de verspreiding, garing en verwerking van informatie rond gezondheidskwesties. Het doel is om na te gaan of deze nieuwscyclus een lineair proces omvat dat gestuurd wordt door commerciële informatie vanuit de industrie, dan wel bestaat uit complexe recursieve patronen van kritische recontextualisatie van deze informatie.</p>
      <h3>Onderzoekers</h3>
      <ul>
        <li><a href="/member/geert-jacobs">Geert Jacobs</a></li>
        <li><a href="/member/jana-declercq">Jana Declercq</a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="bullets">
  <div class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Brongebruik, frame analyse en discoursanalyse</h2>
      <p>De derde onderzoekslijn richt zich op de nieuwsinhoud. Enerzijds wordt een breed scala aan relevante Vlaamse nieuwsmedia gemonitord aan de hand van kwantitatieve inhoudsanalyse. Dit resulteert in een gedetailleerde analyse van de  Vlaamse gezondheidsberichtgeving. Anderzijds worden een aantal discursieve clusters geselecteerd die uitgebreid bestudeerd worden via frame en discoursanalyse.</p>
      <h3>Onderzoekers</h3>
      <ul>
        <li><a href="/member/karin-raeymaeckers">Karin Raeymaeckers</a></li>
        <li><a href="/member/stijn-joye">Stijn Joye</a></li>
        <li><a href="/member/joyce-stroobant">Joyce Stroobant</a></li>
      </ul>
    </div>
  </div>  
  <div class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt=""/>
    </div>
    <div class="bullet-content">
      <h2>Publieksonderzoek</h2>
      <p>De laatste onderzoekslijn positioneert zich aan het ontvangersuiteinde van de centrale nieuwsketen van gezondheidsdiscours, namelijk de consumptie van gezondheidsinformatie. Door middel van focusgroepinterviews kan worden nagegaan hoe het Vlaamse publiek de stroom aan informatie rond gezondheid ontvangt, interpreteert en finaal evalueert in termen van betrouwbaarheid en waardevolheid. Dagelijks komen mensen in contact met uiteenlopend discours rond gezondheid via nieuwsmedia en andere institutionele stakeholders. Met dit kwalitatief publieksonderzoek wensen we inzicht te krijgen in maatschappelijke relevante kwesties als geletterheid op het vlak van gezondheid (‘health literacy’) en de bredere sociale vraag naar transparante informatie over gezondheid. </p>
      <h3>Onderzoekers</h3>
      <ul>
        <li><a href="/member/daniel-biltereyst">Dani&euml;l Biltereyst</a></li>
        <li><a href="/member/stijn-joye">Stijn Joye</a></li>
        <li><a href="/member/violetta-jitomirskaya">Violetta Jitomirskaya</a></li>
      </ul>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  $('.bullet').matchHeight();
});
</script>
