section.home {
    .hero {


    margin-top: em(54);
    margin-bottom: em(60);
    //padding-bottom: 1em;

    @include media($medium-screen) {
      @include span-columns(8);
    }


    .hero-inner {
      .hero-logo img {
        float: left;
        display: none;
        @include media($medium-screen) {
          display: block;
          margin-top: em(50);
        }
      }
      @include outer-container;
      padding: 2em;
      padding-bottom: 1em;
      margin: auto;
      text-align: center;
      color: green;

      @include media($medium-screen) {
        padding: 3em;
      }

      button {
        @include button(simple, $green);
        font-size: $base-font-size;
        outline: none;
      }

      .hero-copy {
        @include media($medium-screen) {
          text-align: right;
          overflow: hidden;
        }
        
        h1 {
          font-size: 1.2em;
          margin-bottom: .5em;
          text-align: left;

          @include media($medium-screen) {
            text-align: center;
            font-size: 1.8em;
          }
        }

        p {
          text-align: left;
          font-family: $serif;
          margin: auto;
          margin-bottom: 1em; 
          font-weight: 200;
          line-height: 1.4em;

          @include media($medium-screen) {
            font-size: 1.1em;
            margin-left: em(20);
          }
        }
      }
    }
  } // end of hero

  .news {
    position: relative;
    margin-top: em(54);
    @include media($medium-screen) {
      @include span-columns(4);
      @include omega();
      min-height: 283px;
    }
    
    time {
      font-style: italic;
    }

    background-color: white;

    .news-inner {
      padding-top: 3em;
      padding-bottom: .75em;
      margin-bottom: em(20);
      padding-left: 1em;
      padding-right: 1em;
      @include media($medium-screen) {
        padding-left: 1.75em;
      }
      h2 {
        font-size: $base-font-size * 1.2;
        text-align: center;
        @include media($medium-screen) {
          font-size: $base-font-size * 2;
        }
      }
      p {
        margin-top: em(10);
        @include media($medium-screen) {
          padding-right: em(10);
        }
      }
    }
    
    .all {
      text-align: right;
      margin-right: em(20);
      padding-bottom: em(10);
    }
  } // end of news
  .bullets {
    $icon-bullet-size: 3.5em;

    overflow: hidden;
    clear: both;
    @include clearfix;
    margin-top: em(40);
    margin-left: 0;
    margin-right: 0;
    //margin-bottom: $base-line-height;

    
    .two-col-bullet {
      padding: 1em;
      margin-bottom: em(40);
      text-align: center;
      @include media($medium-screen) {
        @include span-columns(6);
        @include omega(2n);  
        margin-bottom: 0;
      } 
    }

    img {
      display: block;
      margin: 0 auto;
    }

    h2 {
      font-size: $icon-bullet-size /2.5;
      padding-top: $icon-bullet-size /7;
      margin-bottom: $icon-bullet-size /6;
      border-bottom: 1px solid transparentize($base-font-color, .8);
      display: inline-block;
    }
  } // end of bullets  
} // end of section
