<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag "logo-small.png", alt: "logo Health Media & Society" %>
    <span class="logo-text">Health, Media &amp; Society</span>
  </div>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">&copy; UGent <%= Time.now.year %></a></li>
      </ul>

      <ul class="footer-social">
        <li><%= link_to "Disclaimer", disclaimer_path %></li>
      </ul>
    </div>
</footer>
