<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag "logo-small.png", alt: "logo Health Media & Society" %>
    <span class="logo-text">Health, Media &amp; Society</span>
  </div>
    <ul>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/sitemap.html">Sitemap</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">&copy; UGent 2014</a></li>
      </ul>

      <ul class="footer-social">
        <li><%= link_to "Disclaimer", disclaimer_path %></li>
      </ul>
    </div>
</footer>
